Temp/
 obj/
 Build
 Library/
  
 

     ExportedObj/
     *.svd
     *.userprefs
     *.csproj
     *.pidb
     *.suo
     *.sln
     *.user
     *.unityproj
     *.booproj
     *.orig
     *.app
     *.exe
     *.*_data
     
     Build/iOS
     Build/android
     
     *.[od]
     
     .DS_Store
     .DS_Store?
     ._*
     .Spotlight-V100
     .Trashes
     Icon?
     ehthumbs.db
     Thumbs.db
